body{
  background-color: darkslategrey;
}
.App {
  width: "100vw";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.histories{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searcher{
  position: sticky;
  position: -webkit-sticky;
  background-color: darkgrey;
}

.esdevenimentBu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 1em 2em 1em;
  cursor: pointer;
  margin-top: 2em;
  width: 100%;
  font-size: 1.2em;
}

.reproductor{  
  position: sticky;
  position: -webkit-sticky;
  top: 1em;
  background-color: darkslategrey;

}

.Searcher{
  width: 85%;
}