@import "./parcials/colors";

body{
  top:0px;
  left: 0px;
  width: 98%;
  min-height: 100vh;
  background-color: #dedede;
}

#root{
  width: 99%;
  top:0px;
  left:0px;
  min-height: 100vh;
}

h3{
  font-size: 24px;
}

.App { 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.cos{  
  top:0px;
  left: 0px;
  width: 100%;
  min-height: 100vh;
}

.rector{
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.histories{
  flex:2;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding-right: 2em;
  padding-left: 2em;
  h3{
    font-size: 24px;
  }
}



.reproductor{  
  flex: 3;
  z-index: 98;
  position: sticky;
  position: -webkit-sticky;
  top: 1em;  
  padding-left: 1em;
  background-color: #dedede;

}

.reproductorMobil{  
  flex: 1;
  width: 100%;
  z-index: 98;
  position: sticky;
  position: -webkit-sticky;
  top: 2px;
  background-color: #dedede;

}


.Searcher{
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  
}

#credits{
  color:#FFFFFF;
  width:100%;
  a{
    color:#FFFFFF;
    text-decoration: none;
  }
}

#peu{
  display: flex;
  position: static;
  top: 2em;
  bottom: 0px;
  flex: 1;
  left: 0px;
  justify-content: flex-start;
  width: 99%;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 3em;
  padding-bottom: 2em;
  div{  
    display: flex;
    flex: 1;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    img{
      max-width: 360px;
    }  
  } 
  a{
    padding-top: 1em;
    font-size: 11px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
  }
  a:hover{
    color:$verd-uab;
  }
  
}