@import "./parcials/colors";

body{
  background-color: darkslategrey;
}

#root{
  width: 99%;
}

h3{
  font-size: 24px;
}

.App { 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.rector{
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.histories{
  flex:2;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding-right: 2em;
  padding-left: 2em;
  h3{
    font-size: 24px;
  }
}

.searcher{
  position: sticky;
  position: -webkit-sticky;
  background-color: darkgrey;
}

.esdevenimentBu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 1em 2em 1em;
  cursor: pointer;
  margin-top: 2em;
  width: 100%;
  font-size: 1.2em;
}

.reproductor{  
  flex: 3;
  position: sticky;
  position: -webkit-sticky;
  top: 1em;  
  padding-left: 1em;
  background-color: darkslategrey;

}

.Searcher{
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
}

#credits{
  color:white;
  a{
    color:white;
    text-decoration: none;
  }
}

#peu{
  display: flex;
  bottom: 0px;
  flex: 1;
  left: 0px;
  justify-content: flex-start;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 1em;
  padding-bottom: 2em;
  div{  
    display: flex;
    flex: 1;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    img{
      max-width: 360px;
    }  
  } 
  a{
    padding-top: 1em;
    font-size: 11px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  a:hover{
    color:$verd-uab;
  }
  
}